#navTitle #fleetTitle{
  position: relative;
  font-weight: bold;
  font-size: 30px;
  left: 0.2rem;
}

#navTitle #navbarColor01 #navbarOptions{
  position: relative;
  font-size: 17px;
}

#carSettingsButton a{
  color: white;
}

#carSettingsTitle h1{
  left: 0;
  line-height: 200px;
  margin-top: -400px;
  margin-bottom: 100rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

/*#settingsEditButton a{
  color: white;
}

#settingsEditButton{
  margin-top: 5rem;
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}*/

#carCards{
  margin-top: 10rem;
}